<div class="sign-in-wrapper">
    <div class="container">
        <div class="landing-page-container">
            <div class="signup-container">
                <div class="signup-content">
                    <h1>
                        Unlimited movies, TV shows, and more.
                    </h1>
                    <p class="motto">Watch anywhere. Cancel anytime.</p>
                    <form>
                        <label>Ready to watch? Enter your email to create or restart your membership.</label>
                        <input type="email" placeholder="Email address">
                        <button>Get Started</button>
                    </form>
                </div>
    
            </div>
        </div>
        <div class="content-container">
            <h2>Enjoy on your TV,</h2>
            <h4>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</h4>
        </div>
    
    </div>
</div>